<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="../content/css/abstract/bootstrap.min.css">
    <link rel="stylesheet" href="../content/css/abstract/all.min.css">
    <link rel="stylesheet" href="../content/css/abstract/magnific-popup.css">
    <link rel="stylesheet" href="../content/css/abstract/owl.carousel.min.css">
    <link rel="stylesheet" href="../content/css/abstract/owl.theme.default.min.css">
    <link rel="stylesheet" href="../content/css/style.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg px-3 ">
        <div class="container">
            <a class="navbar-brand" href="../view/index.html"><i class="fab fa-instagram"></i> My Website</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                <a class="nav-link" href="../view/index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                <a class="nav-link" href="../view/about.html">About</a>
                </li>
                <li class="nav-item ">
                <a class="nav-link" href="../view/Services.html">Services</a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="../view/blog.html">Blog</a>
                </li>
                <li class="nav-item ">
                <a class="nav-link" href="../view/contact.html">Contact</a>
                </li>              
            </ul>    
            </div>
        </div>
        </nav>
</header>
<!-------------------End-header---------------------->
<section class="breadcrums-blog  ">
    <div class="overlay">
        <div class="container ">
            <nav aria-label="breadcrumb" class="bread">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../view/index.html">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Blog</li>
                </ol>
              </nav>
        </div>
     </div>
</section>
 <!-----------------------------End-breadcrums---------------------->
<section class="blog-content py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-lg-5">
                <a href="single.html"><img src="../content/assets/img/g1.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="col-lg-6 mb-5">
                <a href="single.html"><h5 class="mt-4">Successful Campaigns Usually Require A Campaign Manager</h5></a>
                <h6 class="mt-sm-2 mt-1">Dec 6th, 2019.</h6>
                <a href="#category" class="category">Design, Php</a>
                <p class="mt-2 mb-2">Donec luctus rhoncus dignissim. Integer blandit mattis arcu, id viverra
                    dolor. id viverra orci condimentum a. Donec luctus rhoncus dignissim. Integer blandit mattis
                    arcu,
                    Quisque nibh tortor, mollis placerat semper ac, auctor quis mauris. Praesent dignissim sed
                    magna eu urna consectetur, at pretium nisi aliquet. Sed malesuada semper</p>
                    <a href="single.html" class="btn mt-4">Continue Reading</a>
            </div>
            <!---->
            <div class="col-lg-6 mb-5 blog-info">
                <a href="single.html"><h5 class="mt-4">The 5 Rules Of Design Composition Add Dolor Sit.</h5></a>
                <h6 class="mt-sm-2 mt-1">Dec 6th, 2019.</h6>
                <a href="#category" class="category">Design, Php</a>
                <p class="mt-2 mb-2">Donec luctus rhoncus dignissim. Integer blandit mattis arcu, id viverra
                    dolor. id viverra orci condimentum a. Donec luctus rhoncus dignissim. Integer blandit mattis
                    arcu,
                    Quisque nibh tortor, mollis placerat semper ac, auctor quis mauris. Praesent dignissim sed
                    magna eu urna consectetur, at pretium nisi aliquet. Sed malesuada semper</p>
                    <a href="single.html" class="btn mt-4">Continue Reading</a>
            </div>
            <div class="col-lg-6 mb-lg-5 blog-info-photo">
                <a href="single.html"><img src="../content/assets/img/g2.jpg" alt="" class="img-fluid"></a>
            </div>
            <!---->
            <div class="col-lg-6 mb-lg-5">
                <a href="single.html"><img src="../content/assets/img/g3.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="col-lg-6 mb-5">
                <a href="single.html"><h5 class="mt-4">Successful Campaigns Usually Require A Campaign Manager</h5></a>
                <h6 class="mt-sm-2 mt-1">Dec 6th, 2019.</h6>
                <a href="#category" class="category">Design, Php</a>
                <p class="mt-2 mb-2">Donec luctus rhoncus dignissim. Integer blandit mattis arcu, id viverra
                    dolor. id viverra orci condimentum a. Donec luctus rhoncus dignissim. Integer blandit mattis
                    arcu,
                    Quisque nibh tortor, mollis placerat semper ac, auctor quis mauris. Praesent dignissim sed
                    magna eu urna consectetur, at pretium nisi aliquet. Sed malesuada semper</p>
                    <a href="single.html" class="btn mt-4">Continue Reading</a>
            </div>
            <!---->
        </div>
    </div>
</section>
      
<footer>
 <div class="container">
    <div class="follow text-center">
        <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-messenger"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
        </ul>
    </div>
    <div class="copy mt-4 pt-3 text-center">
        <p>© 2020 My Website. All rights reserved | Designed by <span>Ahmad Al-Hout</span></p>
    </div>
 </div>
 <div class="soical">
    <ul>
        <li><a href="#"><i class="fas fa-angle-double-right "></i></a></li>
        <li><a href="#"><i class="fas fa-download mb-2"></i><span>Download</span></a></li>
        <li><a href="#"><i class="fas fa-backward"></i><span>Back</span></a></li>
        <li><a href="#"><i class="fas fa-shopping-cart"></i><span>Buy</span></a></li>

    </ul>
</div>
<i class="top fas fa-angle-double-up" aria-hidden="true"></i>


</footer>
<!--------------------------------------End footer----------------------->

   <script src="../content/js/abstract/jquery-3.5.1.min.js"></script>
    <script src="../content/js/abstract/all.min.js"></script>
    <script src="../content/js/abstract/bootstrap.min.js"></script>
    <script src="../content/js/scripts.js"></script>
    <script src="../content/js/abstract/jquery.magnific-popup.min.js"></script>
    <script src="../content/js/abstract/owl.carousel.min.js"></script>
    <script src="../content/js/abstract/jquery.countTo.js"></script>
    
</body>
</html>